body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    width:  500px;
    height: 500px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.square {
    border: solid grey 1px;
    width: 30px;
    height: 30px;
    flex: 0 0 25%;
    height: 25%;
    box-sizing: border-box;
}
